* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-size: 100%;
  background-image: url(https://phonoteka.org/uploads/posts/2021-05/1620661227_19-phonoteka_org-p-chyornii-fon-s-nadpisyu-na-angliiskom-20.jpg);
}
/* header start */
.header {
  background-color: #fff;
}
.header__body {
  width: 1450px;
  height: 80px;
  margin: 0 auto;
}
.header__logo {
  width: 75px;
  border-radius: 60px;
  margin-left: 40px;
}
.header__nav {
  width: 800px;
  height: 80px;
  margin: 0 auto;
}
.header__nav li {
  display: inline-block;
  margin: 25px 90px;
}

.header__nav a {
  color: black;
  font-size: 22px;
  font-family: "Permanent Marker", cursive;
}

.header__button {
}
/* header end */
.card-1 {
  background: linear-gradient(to left, #2e2e2e, #7a7a7a);
  width: 300px;
  height: 350px;
  padding-top: 30px;
  border-radius: 20px;
  margin-left: 70px;
  margin-top: 15px;
  display: inline-block;
}
.card-1__img {
  width: 175px;
}
.card-1__name {
  color: aliceblue;
  font-size: 18px;
  font-family: "Pangolin", cursive;
  margin: 15px 0;
}
.card-1__music {
  width: 290px;
}
.card-2 {
  background: linear-gradient(to bottom, #2e2e2e, #7a7a7a);
  width: 300px;
  height: 350px;
  padding-top: 30px;
  border-radius: 20px;
  margin-left: 400px;
  display: inline-block;
}

.card-3 {
  background: linear-gradient(to right, #2e2e2e, #7a7a7a);
  width: 300px;
  height: 350px;
  padding-top: 30px;
  border-radius: 20px;
  margin-left: 400px;
  display: inline-block;
}

.card-4 {
  background: linear-gradient(to top left, #2e2e2e, #7a7a7a);
  width: 300px;
  height: 350px;
  padding-top: 30px;
  border-radius: 20px;
  margin-left: 450px;
  display: inline-block;
}

.myVideo {
  margin-top: 100px;
  padding: 50px;
}
.video {
  border: 10px solid #ffffff;
  border-radius: 10px;
  margin: 0 10px;
}

.video__button {
  padding: 20px 40px;
  margin-top: 200px;
  background-color: aliceblue;
  color: #000;
  border-radius: 10px;
  font-size: 20px;
  letter-spacing: 3px;
  transition: 0.8s;
  cursor: pointer;
}

.video__button:hover {
  background-color: #00e7ef;
  color: #000;
  letter-spacing: 0px;
  padding: 17px 37px;
}
